

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
       
    img {
        width: 1080px;
        height: 1080px;
        object-fit: scale-down;
      }
      
    </style>

    <title> {% block title %}{% endblock %} </title>
</head>
<body>
    <h1> <center> </center> </h1>
    <center>
    <div class="gallery">
        {% block gallery %}
        {% for image in image_filenames %}

        {% endfor %}
        {% endblock gallery %}
    </center>
</body>
</html>